{
    "subject": {
	"country": "@{ step_ca_structure.SubCA.S1.country }@",
        "organization": "@{ step_ca_structure.SubCA.S1.organisation }@",
	"locality": "@{ step_ca_structure.SubCA.S1.locality }@",
	"province": "@{ step_ca_structure.SubCA.S1.province }@",
	"commonName": {{ toJson .Subject.CommonName }}
    },
    "keyUsage": ["certSign", "crlSign"],
    "basicConstraints": {
        "isCA": true,
        "maxPathLen": 0
    },
    "IssuingCertificateURL": ["@{ step_ca_structure.SubCA.S1.IssuingCertificateURL }@"]
}
