{
    "subject": {
	"country": "@{ item.country }@",
        "organization": "@{ item.organisation }@",
	"locality": "@{ item.locality }@",
	"province": "@{ item.province }@",
	"commonName": {{ toJson .Subject.CommonName }}
    },
    "keyUsage": ["certSign", "crlSign"],
    "basicConstraints": {
        "isCA": true,
        "maxPathLen": 0
    },
    "IssuingCertificateURL": [{% for uri in step_ca_structure.rootCA.IssuingCertificateURL | default([]) %}"@{ uri }@"{% if not loop.last %},{% endif %}{% endfor %}],
    "crlDistributionPoints": [{% for uri in step_ca_structure.rootCA.crlDistributionPoints | default([]) %}"@{ uri }@"{% if not loop.last %},{% endif %}{% endfor %}],
    "ocspServer": [{% for uri in step_ca_structure.rootCA.ocspServer | default([]) %}"@{ uri }@"{% if not loop.last %},{% endif %}{% endfor %}]
}

