{
{{ range .SANs }}
  {{ if not (and (regexMatch ".*\\.@{ step_ca_domain | regex_replace('\.', '\\\\\.') }@" .Value) (eq .Type "dns")) }}
    {{ fail "Not a *.@{ step_ca_domain }@ host" }}
  {{ end }}
{{ end }}
    "subject": {
        "commonName": {{ toJson .Subject.CommonName }}
    },
    "sans": {{ toJson .SANs }},
{{- if typeIs "*rsa.PublicKey" .Insecure.CR.PublicKey }}
    {{ if lt .Insecure.CR.PublicKey.Size @{ item.min_key_size_rsa }@ }}
        {{ fail "Key length must be at least @{ item.min_key_size_rsa * 8 | int | abs }@ bits" }}
    {{ end }}
    "keyUsage": ["keyEncipherment", "digitalSignature"],
{{- else }}
    "keyUsage": ["digitalSignature"],
{{- end }}
    "extKeyUsage": ["@{ item.extKeyUsage }@"],
    "basicConstraints": {
        "isCA": false
    },
    "IssuingCertificateURL": [{% for uri in item.IssuingCertificateURL | default([]) %}"@{ uri }@"{% if not loop.last %},{% endif %}{% endfor %}],
    "crlDistributionPoints": [{% for uri in item.crlDistributionPoints | default([]) %}"@{ uri }@"{% if not loop.last %},{% endif %}{% endfor %}],
    "ocspServer": [{% for uri in item.ocspServer | default([]) %}"@{ uri }@"{% if not loop.last %},{% endif %}{% endfor %}]
}
