{
{{ range .SANs }}
{% if item.sanFilterType is defined and item.sanFilterType == 'email' %}
  {{ if not (and (regexMatch ".*\\@@{ step_ca_domain | regex_replace('\.', '\\\\\.') }@" .Value) (eq .Type "email")) }}
    {{ fail "Not a *@@{ step_ca_domain }@ email" }}
{% else %}
  {{ if not (and (regexMatch ".*\\.@{ step_ca_domain | regex_replace('\.', '\\\\\.') }@" .Value) (eq .Type "dns")) }}
    {{ fail "Not a *.@{ step_ca_domain }@ host" }}
{% endif %}
  {{ end }}
{{ end }}
    "subject": {
        "commonName": {{ toJson .Subject.CommonName }}
    },
    "sans": {{ toJson .SANs }},
{{- if typeIs "*rsa.PublicKey" .Insecure.CR.PublicKey }}
    {{ if lt .Insecure.CR.PublicKey.Size @{ item.min_key_size_rsa }@ }}
        {{ fail "Key length must be at least @{ item.min_key_size_rsa * 8 | int | abs }@ bits" }}
    {{ end }}
    "keyUsage": ["keyEncipherment", "digitalSignature"],
{{- else }}
    "keyUsage": ["digitalSignature"],
{{- end }}
    "extKeyUsage": ["@{ item.extKeyUsage }@"],
    "basicConstraints": {
        "isCA": false
    },
    "IssuingCertificateURL": ["@{ item.IssuingCertificateURL }@"],
    "crlDistributionPoints": ["@{ item.crlDistributionPoints }@"]
}
