{
{% if 'ca_server' in group_names %}
	"root": "{{ step_ca_root_dir }}/certs/root_ca.crt",
	"federatedRoots": null,
	"crt": "{{ step_ca_root_dir }}/certs/{{ item.name }}/intermediate_ca.crt",
	"key": "{{ step_ca_root_dir }}/secrets/{{ item.name }}/intermediate_ca.key",
{% endif %}
	"address": "{{ ansible_default_ipv4.address }}:{{ item.listen_port }}",
	"insecureAddress": "{{ ansible_default_ipv4.address }}:{{ item.insecure_port }}",
	"dnsNames": [
{% if 'ca_server' in group_names %}
		"{{ step_ca_structure.rootCA.fqdn | default(groups['ca_server'][0]) }}"
{% elif 'ra_servers' in group_names %}
		"{{ ansible_host }}"
{% endif %}
	],
	"logger": {
		"format": "text"
	},
	"db": {
		"type": "badgerv2",
		"dataSource": "{{ step_ca_root_dir }}/db/{{ item.name }}/",
		"badgerFileLoadingMode": ""
	},
	"authority": {
{% if 'ca_server' in group_names %}
		"provisioners": [
		],
{% elif 'ra_servers' in group_names %}
		"type": "stepcas",
		"certificateAuthority": "https://{{ step_ca_structure.rootCA.fqdn | default(groups['ca_server'][0]) }}:{{ item.listen_port }}",
		"certificateAuthorityFingerprint": "TODO",
		"certificateIssuer": {
			"type" : "jwk",
			"provisioner": "{{ step_ca_admin_jwk_name }}",
			"key": "{{ step_ca_root_dir }}/secrets/ra_key.pem"
		},
		"provisioners": [
			{
				"type": "ACME",
				"name": "acme",
				"forceCN": true,
				"claims": {
					"minTLSCertDuration": "{{ item.minTLSCertDuration }}",
					"maxTLSCertDuration": "{{ item.maxTLSCertDuration }}",
					"defaultTLSCertDuration": "{{ item.defaultTLSCertDuration }}",
					"disableRenewal": false,
					"enableSSHCA": false
				},
				"options": {
					"x509": {
						"templateFile": "{{ step_ca_root_dir }}/templates/certs/x509/{{ item.name }}leaf.tpl"
					}
				}
			}
		],
{% endif %}
		"template": {
			"country": "{{ item.country }}",
			"organization": "{{ item.organisation }}",
			"locality": "{{ item.locality }}",
			"province": "{{ item.province }}"
		},
		"backdate": "1m0s"
	},
	"tls": {
		"cipherSuites": [
			"TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
			"TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA256",
			"TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
		],
		"minVersion": 1.3,
		"maxVersion": 1.3,
		"renegotiation": false
	},
{% if 'ca_server' in group_names %}
	"commonName": "{{ item.organisation }} {{ item.name }} Certification Authority service",
	"crl": {
		"enabled": true,
		"generateOnRevoke": true,
		"cacheDuration": "24h0m0s",
		"idpURL": "{{ item.crlDistributionPoints }}"
	}
{% elif 'ra_servers' in group_names %}
	"commonName": "{{ item.organisation }} {{ item.name }} Registration Authority service"
{% endif %}
}
