{
{% if 'ca_servers' in group_names %}
    "root": "{{ step_ca_root_dir }}/certs/root_ca.crt",
    "federatedRoots": null,
    "crt": "{{ step_ca_root_dir }}/certs/intermediate_ca_client.crt",
    "key": "{{ step_ca_root_dir }}/secrets/intermediate_ca_client_key",
    "address": "{{ ansible_default_ipv4.address }}:{{ step_ca_client_listen_port }}",
    "insecureAddress": "",
    "dnsNames": [
      "ca.{{ step_ca_domain }}"
    ],
    "logger": {
	"format": "text"
    },
    "db": {
	"type": "badgerv2",
	"dataSource": "{{ step_ca_root_dir }}/db_client",
	"badgerFileLoadingMode": ""
    },
    "authority": {
	"provisioners": [
	    {
		"type": "JWK",
		"name": "{{ step_ca_email }}",
		"key": {
		    "use": "sig",
		    "kty": "OKP",
		    "kid": "TODO",
		    "crv": "Ed25519",
		    "alg": "EdDSA",
		    "x": "QpBaMgq-liKM0bWuvRrhwebzaxDTgziSJxf9ryz5DDY"
		},
		"encryptedKey": "FIXME",
		"claims": {
                  "minTLSCertDuration": "{{ step_ca_structure.SubCA.C1.minTLSCertDuration }}",
                  "maxTLSCertDuration": "{{ step_ca_structure.SubCA.C1.maxTLSCertDuration }}",
                  "defaultTLSCertDuration": "{{ step_ca_structure.SubCA.C1.defaultTLSCertDuration }}",
                  "disableRenewal": false,
                  "enableSSHCA": false
		},
		"options": {
                  "x509": {
                    "templateFile": "{{ step_ca_root_dir }}/templates/certs/x509/leaf_client.tpl"
                  }
                }
	    }
	],
	"template": {
	    "country": "{{ step_ca_structure.SubCA.C1.country }}",
            "organization": "{{ step_ca_structure.SubCA.C1.organisation }}",
	    "locality": "{{ step_ca_structure.SubCA.C1.locality }}",
	    "province": "{{ step_ca_structure.SubCA.C1.province }}"
	},
	"backdate": "1m0s"
    },
{% elif 'ra_servers' in group_names %}
  "address": "{{ ansible_default_ipv4.address }}:{{ step_ca_client_listen_port }}",
  "dnsNames": ["ra.{{ step_ca_domain }}"],
  "db": {
    "type": "badgerV2",
    "dataSource": "{{ step_ca_root_dir }}/db"
  },
  "logger": {
      "format": "text"
  },
  "authority": {
    "type": "stepcas",
    "certificateAuthority": "https://ca.{{ step_ca_domain }}:{{ step_ca_client_listen_port }}",
    "certificateAuthorityFingerprint": "FIXME",
    "certificateIssuer": {
	"type" : "jwk",
	"provisioner": "{{ step_ca_email }}",
	"key": "{{ step_ca_root_dir }}/secrets/ra_key.pem"
    },
    "provisioners": [
	{
	    "type": "ACME",
	    "name": "acme",
	    "forceCN": true,
	    "claims": {
	        "minTLSCertDuration": "{{ step_ca_structure.SubCA.C1.minTLSCertDuration }}",
		"maxTLSCertDuration": "{{ step_ca_structure.SubCA.C1.maxTLSCertDuration }}",
		"defaultTLSCertDuration": "{{ step_ca_structure.SubCA.C1.defaultTLSCertDuration }}",
		"disableRenewal": false,
		"enableSSHCA": false
	    },
	    "options": {
		"x509": {
		    "templateFile": "{{ step_ca_root_dir }}/templates/certs/x509/leaf_client.tpl"
		}
	    }
	}
    ],
    "template": {
        "country": "{{ step_ca_structure.SubCA.C1.country }}",
        "organization": "{{ step_ca_structure.SubCA.C1.organisation }}",
	"locality": "{{ step_ca_structure.SubCA.C1.locality }}",
	"province": "{{ step_ca_structure.SubCA.C1.province }}"
    },
    "backdate": "1m0s"
  },
{% endif %}
    "tls": {
	"cipherSuites": [
	  "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
	  "TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA256",
	  "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
	],
	"minVersion": 1.3,
	"maxVersion": 1.3,
	"renegotiation": false
    }
}
