{
	"ca-url": "https://{{ inventory_hostname }}",
	"ca-config": "{{ step_ca_root_dir }}/config/ca.json",
	"fingerprint": "83d03c2c7c938dbc1d1473c10e9054b79305c229286b94ebce5575d0be5082be",
	"root": "{{ step_ca_root_dir }}/certs/root_ca.crt"
}
